@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #003366;
  background-color: #FFF7E1;
  font-family: 'Proxima Nova', 'Avenir Next', Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
